@charset "utf-8";

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Font
$family-sans-serif: 'Montserrat', 'Roboto', sans-serif !global;
$family-primary: $family-sans-serif;

// Display options
$widescreen-enabled: false;

// Set your colors

$primary: #659DBD;
$primary-invert: #FFFFFF;
$info: #3498db;
$info-invert: #FFFFFF;
$blue-button: #1E90FF;
$blue-button-invert: #FFFFFF;
//$twitter: #16132E;
//$twitter-invert: #EFEFEF;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  //"white": ($white, $black),
  //"black": ($black, $white),
  //"light": ($light, $light-invert),
  //"dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "blue-button":($blue-button, $blue-button-invert),
  //"success": ($success, $success-invert),
  //"warning": ($warning, $warning-invert),
  //"danger": ($danger, $danger-invert),
  //"twitter": ($twitter, $twitter-invert)
);

// Links
//$link: $test;
//$link-invert: $primary-invert;
//$link-focus-border: $primary;

// Inputs
//$input-border-color: #262626;
//$input-background-color: #f000;
//$input-radius: 5px;

// NavBar
//$navbar-height: 100px;
//$navbar-padding-vertical: 25px;

html {
}

.navbar {
  &.is-transparent {
    background: transparent;
  }
}
.button{
  &.is-transparent {
    background: transparent;
  }
}

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
